/* --- Fonts Importing --- */

@import url('https://fonts.googleapis.com/css2?family=Alef&family=Kurale&family=Roboto+Mono:wght@500&family=Rosario:wght@700&display=swap');

/* --- General Rules --- */

:root {
	--orange: #ff9000; /* --- For code --- */
	--gold: #e2ad1a; /* --- For highlighting --- */
	--silver: #BDC3C7; /* --- Normal text --- */
    --MBlack: #121214; /* --- Main Black --- */
    --BBlack: #000000; /* --- Bottom Black --- */
    --white: #ffffff;
}

::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: 100px;
}
::-webkit-scrollbar-track {
    background: var(--MBlack);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--orange);
}

::marker {
    color: var(--gold);
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--gold);
    color: var(--MBlack);
}

body {
    color: var(--white);
    background: var(--MBlack);
    margin: 0px;
}

.gold {
    color: var(--gold);
}

.orange {
	color: var(--orange);
}

.code {
	color: var(--orange);
}

.silver {
	color: var(--silver);
}

.content, .content p, .gold, .content h3, .content h1, .content details, .content li{
    margin-block: 2vmax;
    font-size: calc(1.1rem + 0.7vmax);
}

/* Typeography General*/

h1 {
    font-size: 20px;
    color: var(--silver);
    font-family: 'Alef', sans-serif; 
    text-decoration: underline var(--gold);
    font-family: 'Rosario', sans-serif;
    font-size: calc(1.5rem + 3vw);
    color: var(--gold);
}

h2 {
    display: flex;
    align-items: center;
	text-decoration: underline var(--orange);
    font-size: 1.5rem;
    font-family: 'Rosario', sans-serif;
    color: var(--silver);
}

p {
    font-size: 20px;
    color: var(--silver);
    font-family: 'Alef', sans-serif; 
}

span {
    font-size: 20px;
    color: var(--silver);
    font-family: 'Alef', sans-serif; 
}

a {
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.4s;
}

a:hover {
    color: var(--orange)
}

ul {
    font-size: 25px;
    color: var(--silver);
    font-family: 'Alef', sans-serif;
    margin-bottom: 1em;
}


#top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 10;
    border: none;
    outline: none;
    background-color: var(--gold);
    color: var(--BBlack);
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    font-size: 25px;
    text-decoration: none;
    transition: color 0.4s;
  }

#top:hover {
    background: var(--BBlack);
    color: var(--gold)
}

/* ---- Layout Rules ---- */

.landing__container {
    padding: 2em;
}

.slideContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide {
    display: flex;
    align-items: center;
    margin-top: 130px;
}

.slide2 {
    flex-direction: row-reverse;
}

.slideText {
}

.slideTitle {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Rosario', sans-serif;
}

.slideImage {
    width: 30vw;
    height: 30vw;
    margin: 10px;
}

@media only screen and (max-width: 600px){
    .slide {
        flex-direction: column;
        margin-top: 10vh;
        max-width: 450px;
    }
    .slideImage {
        margin: 0px;
        width: 100%;
        height: 300px;
        max-width: 520px;
    }
}

/* Teams page */

.cardContainer {
    margin-top: 5vmin;
    justify-content: space-around;
    width: 100%;
    display: inline-flex;
}

.cardBody {
    border: 2px solid var(--silver);
    margin-right: 5vw;
    border-radius: 10px;
    display: flex;
    flex: 1 1 45%;
}

.cardImage {
    width: 125px;
    height: 125px;
    align-self: center;
    border-radius: 100%;
    margin: 5px;
    margin-right: 2vmin;
}

.ImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImgContainer .HeadBadge {
    display: none;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}

.cardText {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 5px;
}

.cardName {
    font-family: 'Kurale', serif;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 500;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HeadBadge {
    display: flex;
    justify-content: center;
    margin-left: 1vmin;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Kurale', serif;
    background-color: var(--gold);
    color: var(--MBlack);
}

.cardSocials {
    display: flex;
    justify-content: center;
    margin: 5px;
    height: 35px;
    width: 100%;
    margin-top: auto;
}

.cardSocials a {
    transition: ease 0.4s all;
    margin-right: 1vw;
    font-size: 35px;
    text-decoration: none;
    color: var(--orange);
}

.cardSocials a:hover {
    opacity: 66%;
}

.ContainerEnd {
    flex: 0 1 45%;
}

@media only screen and (max-width: 700px){
    .container {
    padding: 2em;
    }
    .cardContainer {
    display: flex;
    flex-direction: column;
	align-self: center;
    align-items: center;
    margin-top: 0px;
    }
    .cardBody {
        margin-right: 0px;
        margin-top: 20px;
        width: 100%;
    }
    .HeadBadge {
        display: none;
    }
    .ImgContainer .HeadBadge {
        display: flex;
        margin: 5px;
    }
}


/* Header Styles */
.page__header {
    position: sticky;
    background-color: var(--MBlack);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.menu__link {
    font-weight: normal;
    font-family: 'Kurale', serif;
    align-self: center;
    font-size: calc(0.5rem + 1.5vmin);
    padding: 10px;
    text-decoration: none;
    color: var(--silver);
    transition: ease 0.4s all;
}

.navbarContainer {
    width: 99%;
    margin: 0.5vh 0.5vw;
    display: inline-flex;
}

.navbarContainer0 {
    display: inline-flex;
    justify-content: center;
    align-self: center;
}

.navbarContainer2 {
    display: inline-flex;
    flex-direction: row-reverse;
    margin-left: auto;
}

.navbarContainer0 a {
    height: calc(1rem + 6vmin);
}

#CTA {
    border-radius: 10px;
    border: solid 2px var(--gold);
}

.menu__link:hover {
    color: var(--orange);
}

#current {
    color: var(--gold);
}

.logo {
    border-radius: 10px;
	width: calc(1rem + 6vmin);
    height: calc(1rem + 6vmin);
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .collect{
    padding: 0;
    font-weight: normal;
    font-family: 'Kurale', serif;
    align-self: center;
    font-size: calc(0.5rem + 1.5vmin);
    text-decoration: none;
    color: var(--silver);
    transition: ease 0.4s all;
    display: flex;
    border: none;
    outline: none;
    background-color: inherit;
    align-items: center;
}

.collect:hover {
    color: var(--orange);
}

.dropdown-content {
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: var(--BBlack);
    min-width: 9vmax;
    box-shadow: 0px 8px 16px 1px var(--BBlack);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: var(--silver);
    padding: 12px 16px;
    text-decoration: none;
    font-weight: normal;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    color: var(--orange);
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 600px){
    .menu__link {
        font-size: calc(2px + 0.3rem + 1.5vmin);
    }
}

/* Page Hero Rules */

.pageHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 66vh;
}

.heroHeader {
    font-size: calc(2em + 6vmin);
    font-family: 'Rosario', sans-serif;
    color: var(--gold);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImage {
    display: inline-block;
	width: calc(1em + 8vmin);
    height: calc(1em + 8vmin);
}

.heroTextContainer {
    margin: 3vmin 2vmin 0px;
}

.heroTextContainer span {
    font-size: calc(0.5em + 2vmin);
    font-family: 'Quicksand', sans-serif;
}

.heroCTAContainer {
    display: flex;
    flex-direction: row;
    margin-top: 3vmin;
}

.heroCTACont {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: solid 2px var(--gold);
    margin-left: 1vw;
    width: 200px;
    height: 50px;
}

.heroCTA {
    font-weight: normal;
    font-size: 1.2rem;
    color: var(--BBlack);
    font-weight: normal;
    font-family: 'Kurale', serif;
    align-self: center;
    text-decoration: none;
    color: var(--silver);
    transition: ease 0.4s all;
}

.heroCTA:hover {
    font-size: 1.3rem;
    color: var(--silver);
}

@media only screen and (max-width: 600px){
    .heroHeader {
        font-size: calc(1em + 6vmin);
    }
    .heroTextContainer {
        margin-top: 10vmin;
    }
    .heroCTA {
        font-size: calc(0.3em + 2vmin);
    }
    .heroCTACont {
        margin-top: 10vmin;
        margin-left: 6vmin;
        width: calc(3em + 20vmin);
    }
    .heroCTACont {
        height: 40px;
    }
}

/* Footer Styles */

.layer {
    width: 100%;
}

.preFooter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Kurale', serif;
    background-color: var(--gold);
    margin-top: 3rem;
    overflow: hidden;
}

.preFooter span {
    font-size: 1.5rem;
    font-family: 'Rosario', sans-serif;
    display: flex;
    align-items: center;
    color: var(--BBlack);
    text-decoration: none;
}

.CTAContainer {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: solid 2px var(--BBlack);
    margin-left: 2vw;
    width: 200px;
    height: 50px;
}


.preFooter .CTA {
    align-self: center;
    font-weight: normal;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--BBlack);
    transition: ease 0.4s all;
}

.preFooter .CTA:hover {
    font-size: 1.3rem;
}

footer {
    overflow: hidden;
    width: 100%;
    position: absolute;
    flex-direction: column;
    display: flex;
    background: var(--BBlack);
}

.footerText {
    font-size: 20px;
    color: var(--silver);
    font-family: 'Alef', sans-serif;
    margin-top: 15px;
}

.footerTitle {
    font-size: 25px;
    color: var(--silver);
    font-family: 'Rosario', sans-serif;
}

.footerH1 {
    margin-left: 5px;
    font-weight: bold;
    font-size: 35px;
    color: var(--silver);
    font-family: 'Rosario', sans-serif;
}

.footerContainer {
    padding: 2.5vw;
    display: flex;
    justify-content: space-between;
}

.footerHeader {
    padding: 2.5vw;
    display: inline-flex;
    align-items: center;
}

.footerElement {
    display: flex;
    flex-direction: column;
}

.footerLogo {
    width: 50px;
    height: 50px;
}

.footerContainer a {
    font-weight: normal;
    color: var(--gold);
    transition: ease 0.4s all;
    text-decoration: none;
}
  
.footerContainer a:hover {
    color: var(--white);
}

@media only screen and (max-width: 600px){
    .preFooter span {
        margin-left: 5px;
        font-size: 5vmin;
    }
    .preFooter .CTA {
        font-size: calc(0.3em + 2vmin);
    }
    .layer {
        width: 200%;
    }
    .CTAContainer {
        margin-left: 4vmin;
        width: calc(3em + 20vmin);
    }
}
