/* --- Fonts Importing --- */

@import url('https://fonts.googleapis.com/css2?family=Alef&family=Kurale&family=Roboto+Mono:wght@500&family=Rosario:wght@700&display=swap');

/* --- General Rules --- */

:root {
	--orange: #df8319; /* --- For code --- */ 
	--gold: #e2a11e; /* --- For highlighting --- */ 
	--silver: #BDC3C7; /* --- Normal text --- */
    --MBlack: #121214; /* --- Main Black --- */
    --BBlack: #000000; /* --- Bottom Black --- */
    --white: #ffffff;
    --logo: calc(1rem + 3vmin);
}

::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: 100px;
}
::-webkit-scrollbar-track {
    background: var(--MBlack);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--orange);
}

::marker {
    color: var(--gold);
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: var(--gold);
    color: var(--MBlack);
}

body {
    color: var(--white);
    background: var(--MBlack);
    margin: 0px;
}

.gold {
    color: var(--gold);
}

.orange {
	color: var(--orange);
}

.code {
	color: var(--orange);
}

.silver {
	color: var(--silver);
}

.content, .content p, .gold, .content h3, .content h1, .content details, .content li{
    margin-block: 2vmax;
    font-size: calc(1.1rem + 0.7vmax);
}

/* Typeography General*/

h1 {
    font-size: calc(1.2rem + 2.5vw);
    color: var(--silver);
    font-family: 'Alef', sans-serif; 
    text-decoration: underline var(--gold);
    font-family: 'Rosario', sans-serif;
    color: var(--gold);
}

h2 {
    display: flex;
    align-items: center;
	text-decoration: underline var(--orange);
    font-size: 1.3rem;
    font-family: 'Rosario', sans-serif;
    color: var(--silver);
}

p {
    font-size: 20px;
    color: var(--silver);
    font-family: 'Alef', sans-serif; 
}

span {
    font-size: 20px;
    color: var(--silver);
    font-family: 'Alef', sans-serif; 
}

a {
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.4s;
    color: inherit;
}

a:hover {
    color: var(--orange)
}

ul {
    font-size: 25px;
    color: var(--silver);
    font-family: 'Alef', sans-serif;
    margin-bottom: 1em;
}


#top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 10;
    border: none;
    outline: none;
    background-color: var(--gold);
    color: var(--BBlack);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    text-decoration: none;
    transition: color 0.4s;
  }

#top:hover {
    background: var(--BBlack);
    color: var(--gold)
}

/* ---- Layout Rules ---- */

section {
    max-width: 1377px;
    margin-left: auto;
    margin-right: auto;
}

.landing__container {
    padding: 2em;
    margin-bottom: 3rem;
}

.slideContainer {
    margin: 0px 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide {
    display: flex;
    align-items: center;
}

.slide2 {
    flex-direction: row-reverse;
    background-color: var(--BBlack);
    border-radius: 20px;
}

.spacing {
    margin-top: 130px;
}

.slideText {
    margin: 1rem;
}

.slideTitle {
    font-size: 36px;
    font-weight: bold;
    font-family: 'Rosario', sans-serif;
}

.slideImage {
    border-radius: 10px;
    width: 30vw;
    height: 30vw;
    margin: 10px;
    max-width: 450px;
    max-height: 450px;
}

@media only screen and (max-width: 600px){
    .slideContainer {
        margin: 0px;
    }
    .slide {
        flex-direction: column;
        max-width: 450px;
    }
    .slideImage {
        margin: 0px;
        width: 100%;
        height: 300px;

    }
    .slide2 .slideImage {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .spacing {
        margin-top: 10vh;
    }
}

/* Teams page */

.cardContainer {
    margin-top: 5vmin;
    justify-content: space-around;
    width: 100%;
    display: inline-flex;
}

.cardBody {
    border: 2px solid var(--silver);
    margin-right: 5vw;
    border-radius: 10px;
    display: flex;
    flex: 1 1 45%;
}

.cardImage {
    width: 125px;
    height: 125px;
    align-self: center;
    border-radius: 100%;
    margin: 5px;
    margin-right: 2vmin;
}

.ImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ImgContainer .HeadBadge {
    display: none;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
}

.cardText {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 5px;
}

.cardName {
    font-family: 'Kurale', serif;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 500;
}

.cardHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HeadBadge {
    display: flex;
    justify-content: center;
    margin-left: 1vmin;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'Kurale', serif;
    background-color: var(--gold);
    color: var(--MBlack);
}

.cardSocials {
    display: flex;
    justify-content: center;
    margin: 5px;
    height: 35px;
    width: 100%;
    margin-top: auto;
}

.cardSocials a {
    transition: ease 0.4s all;
    margin-right: 1vw;
    font-size: 35px;
    text-decoration: none;
    color: var(--orange);
}

.cardSocials a:hover {
    opacity: 66%;
}

.ContainerEnd {
    flex: 0 1 45%;
}

@media only screen and (max-width: 700px){
    .container {
    padding: 2em;
    }
    .cardContainer {
    display: flex;
    flex-direction: column;
	align-self: center;
    align-items: center;
    margin-top: 0px;
    }
    .cardBody {
        margin-right: 0px;
        margin-top: 20px;
        width: 100%;
    }
    .HeadBadge {
        display: none;
    }
    .ImgContainer .HeadBadge {
        display: flex;
        margin: 5px;
    }
}


/* Header Styles */
header {
    position: sticky;
    background-color: var(--MBlack);
    top: 0;
    left: 0;
    z-index: 10;
    width: 99%;
    padding: 0px 0.5vw;
    display: inline-flex;
}

.menu__link {
    font-weight: normal;
    font-family: 'Kurale', serif;
    align-self: center;
    font-size: calc(1rem + 0.2vmin);
    padding: 10px;
    text-decoration: none;
    color: var(--silver);
    transition: ease 0.4s all;
}

.headerStart {
    display: inline-flex;
    justify-content: center;
    align-self: center;
}

.headerEnd {
    display: inline-flex;
    flex-direction: row-reverse;
    margin-left: auto;
}

.headerStart a {
    height: var(--logo);
}

#CTA {
    border-radius: 10px;
    border: solid 2px var(--gold);
}

.CTAPhone {
    color: inherit;
    display: none;
    font-size: inherit;
    transition: ease 0.4s all;
}

.CTAPC {
    color: inherit;
    font-size: inherit;
    transition: ease 0.4s all;
}

#CTA:hover {
    color: var(--orange);
}

.menu__link:hover {
    color: var(--orange);
}

#current {
    color: var(--gold);
}

.logo {
    border-radius: 10px;
	width: var(--logo);
    height: var(--logo);
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .collect{
    padding: 0;
    font-weight: normal;
    font-family: 'Kurale', serif;
    align-self: center;
    font-size: calc(1rem + 0.2vmin);
    text-decoration: none;
    color: var(--silver);
    transition: ease 0.4s all;
    display: flex;
    border: none;
    outline: none;
    background-color: inherit;
    align-items: center;
}

.collect:hover {
    color: var(--orange);
}

.dropdown-content {
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: var(--BBlack);
    min-width: 9vmax;
    box-shadow: 0px 8px 16px 1px var(--BBlack);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: var(--silver);
    padding: 12px 16px;
    text-decoration: none;
    font-weight: normal;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    color: var(--orange);
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 600px){
    .menu__link {
        font-size: calc(2px + 0.3rem + 1.5vmin);
    }
    .CTAPC {
        display: none;
    }
    .CTAPhone {
        display: block;
    }
}

/* Page Hero Rules */

.pageHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 66vh;
}

.heroHeader {
    font-size: calc(2em + 6vmin);
    font-family: 'Rosario', sans-serif;
    color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImage {
    display: inline-block;
	width: calc(1em + 8vmin);
    height: calc(1em + 8vmin);
}

.heroTextContainer {
    margin: 3vmin 2vmin 0px;
}

.heroTextContainer span {
    font-size: calc(0.5em + 2vmin);
    font-family: 'Quicksand', sans-serif;
}

.heroCTAContainer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    margin-top: 3vmin;
}

.heroCTA {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: solid 2px var(--orange);
    font-weight: normal;
    font-size: 1.2rem;
    font-family: 'Kurale', serif;
    align-self: center;
    text-decoration: none;
    padding: 10px;
    color: var(--silver);
    transition: ease 0.4s all;
}

.heroCTAMain {
    background-color: var(--orange);
    color: var(--BBlack);
    margin-left: 1vw;
}

.heroCTAMain:hover {
    color: var(--orange);
    background-color: var(--BBlack);
    border: solid 2px var(--BBlack);
}

@media only screen and (max-width: 600px){
    .heroHeader {
        font-size: calc(1em + 6vmin);
    }
    .heroTextContainer {
        margin-top: 10vmin;
    }
    .heroCTA {
        font-size: calc(0.3em + 2vmin);
    }
}

/* Footer Styles */

.layer {
    width: 100%;
}

.preFooter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Kurale', serif;
    background-color: var(--gold);
    overflow: hidden;
}

.preFooter span {
    font-size: 1.5rem;
    font-family: 'Rosario', sans-serif;
    display: flex;
    align-items: center;
    color: var(--BBlack);
    text-decoration: none;
}

.preFooter span::selection {
    background: var(--MBlack);
    color: var(--gold);
}
.CTAContainer {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: solid 2px var(--BBlack);
    margin-left: 2vw;
    width: 200px;
    height: 50px;
}


.preFooter .CTA {
    align-self: center;
    font-weight: normal;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--BBlack);
    transition: ease 0.4s all;
}

.preFooter .CTA:hover {
    font-size: 1.3rem;
}

footer {
    overflow: hidden;
    width: 100%;
    position: absolute;
    flex-direction: column;
    display: flex;
    background: var(--BBlack);
}

.footerHeader {
    padding: 2em;
    padding-bottom: 1em;
    padding-top: 1vw;
    display: inline-flex;
    align-items: center;
}

.footerLogo {
    margin-left: 5px;
	width: calc(1rem + 8vmin);
    height: calc(1rem + 8vmin);
}

.footerH1 {
    font-weight: bold;
    font-size: 2.5em;
    color: var(--silver);
    font-family: 'Rosario', sans-serif;
}

.footerContainer {
    padding: 2em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.footerText {
    font-size: 20px;
    color: var(--silver);
    font-family: 'Alef', sans-serif;
}

.footerTitle {
    font-size: 25px;
    color: var(--silver);
    font-family: 'Rosario', sans-serif;
}

.footerContainer a {
    font-weight: normal;
    color: var(--gold);
    transition: ease 0.4s all;
    text-decoration: none;
}
  
.footerContainer a:hover {
    color: var(--white);
}

@media only screen and (max-width: 600px){
    .preFooter span {
        margin-left: 5px;
        font-size: 5vmin;
    }
    .preFooter .CTA {
        font-size: calc(0.3em + 2vmin);
    }
    .layer {
        width: 200%;
    }
    .CTAContainer {
        margin-left: 4vmin;
        width: calc(3em + 20vmin);
    }
    .footerContainer {
        grid-template-columns: 1fr;
    }
    .footerH1 {
        font-size: 2em;
    }
    .footerText p {
        line-height: 0.8;
      }
}
