/* --- Fonts Importing --- */

@import url('https://fonts.googleapis.com/css2?family=Alef&family=Kurale&family=Roboto+Mono:wght@500&family=Rosario:wght@700&display=swap');

/* --- General Rules --- */

:root {
	--orange: #ff9000; /* --- For code --- */
	--gold: #ffbc01; /* --- For highlighting --- */
	--silver: #BDC3C7; /* --- Normal text --- */
    --TBlack: #1f1f1f; /* --- Top Black --- */
    --MBlack: #121214; /* --- Middle Black --- */
    --BBlack: #000000; /* --- Bottom Black --- */
    --white: #ffffff;
}

::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: 100px;
}
::-webkit-scrollbar-track {
    background: var(--MBlack);
}
::-webkit-scrollbar-thumb:hover{
    background: var(--orange);
}

.main{
    min-height: 60vh;
    display: flex;
}

.main__header{
    margin: 0;
    font-size: calc(1em + 7vmin);
    display: flex;
    justify-content: center;
    align-items:center;
    flex-grow: 1;

}

html {
  scroll-behavior: smooth;
}

::selection {
    background: var(--gold);
    color: #121213;
}

body {
    color: #000000;
    background: var(--MBlack);
}

/* Typeography General*/

.hero {
    position: relative;
}

h1 {
    font-size: 60px;
    color: var(--gold);
    font-family: 'Rosario', sans-serif;
    margin-left: 0.7em;
}


.h2 {
    text-decoration: underline #ffbc01;
    font-family: 'Rosario', sans-serif;
    font-size: 2.5em;
    color: var(--gold);
}

h3 {
	text-decoration: underline var(--orange);
    font-size: 25px;
    font-family: 'Rosario', sans-serif;
    color: var(--silver);
}

p {
    line-height: 1.6em;
    font-size: 20px;
    color: var(--silver);
    font-family: 'Alef', sans-serif; 
}

a {
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.4s;
}

a:hover {
    color: var(--orange)
}

ul {
    font-size: 25px;
    color: var(--silver);
    font-family: 'Alef', sans-serif;
    margin-bottom: 1em;
}

.gold {
    color: var(--gold);
}

.orange {
	color: var(--orange);
}

.code {
	color: var(--orange);
}

.silver {
	color: var(--silver);
}

#top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 10;
    border: none;
    outline: none;
    background-color: var(--gold);
    color: var(--BBlack);
    cursor: pointer;
    padding: 12px;
    border-radius: 10px;
    font-size: 25px;
    text-decoration: none;
    transition: color 0.4s;
  }

#top:hover {
    background: var(--BBlack);
    color: var(--gold)
}

.win {
	align-items: flex-start;
    display: inline-block;
	width: calc(1em + 10vmin);
    height: calc(1em + 10vmin);

}

/* ---- Layout Rules ---- */
main {
    margin-top: 12vh;
}

.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 700px){
    .landing__container {
        padding: 35px;
    }
}

.slide1 {
    align-items: center;
    display: inline-flex;
    margin-top: 130px;
}

.slide2 {
    align-items: center;
    display: inline-flex;
    flex-direction: row-reverse;
    margin-top: 130px;
}

.slideText {
    margin: 5px;
}

.slideTitle {
    font-size: 36px;
    font-weight: bold;
}

.slideImage {
    width: 450px;
    height: 450px;
    margin: 10px;
}

/* Header Styles */
.page__header {
    position:absolute;
    background-color: var(--TBlack);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.menu__link {
    font-weight: normal;
    font-family: 'Kurale', serif;
    align-self: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: var(--silver);
    transition: ease 0.4s all;
}

.navbarContainer {
    width: 98%;
    margin: 0.5vw 1vw;
    display: inline-flex;
}

.navbarContainer2 {
    display: inline-flex;
    flex-direction: row-reverse;
    margin-left: auto;
}

header a {
    max-height: 50px;
}

#CTA {
    opacity: 0.9;
    border-radius: 10px;
    border: solid 2px var(--orange);
}

#CTA:hover {
    background: var(--BBlack)
}

.menu__link:hover {
    color: var(--orange);
}

#current {
    color: var(--gold);
}

.logo {
    border-radius: 10px;
    width: 50px;
    height: 50px;
}


/* Footer Styles */

.layer0 {
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.layer1 {
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.preFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: 'Kurale', serif;
    background-color: var(--gold);
}

.preFooter .h2 {
    display: flex;
    align-items: center;
    color: var(--BBlack);
    text-decoration: none;
}

.preFooter .CTA {
    border-radius: 10px;
    border: solid 2px var(--BBlack);
    background-color: var(--orange);
    font-weight: normal;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: var(--BBlack);
    transition: ease 0.4s all;
    margin-left: 2vw;
}

.preFooter .CTA:hover {
    background: var(--TBlack);
    color: var(--orange);
}

.page__footer {
    background: var(--BBlack);
}

.footerMain {
    width: 97%;
    position: absolute;
    flex-direction: column;
    display: flex;
}

.footerText {
    font-size: 20px;
    color: var(--silver);
    font-family: 'Alef', sans-serif;
    margin-top: 15px;
}

.footerTitle {
    font-size: 25px;
    color: var(--silver);
    font-family: 'Rosario', sans-serif;
}

.footerH1 {
    margin-left: 5px;
    font-weight: bold;
    font-size: 35px;
    color: var(--silver);
    font-family: 'Rosario', sans-serif;
}

.footerContainer {
    padding: 3vw;
    display: flex;
    justify-content: space-between;
}

.footerHeader {
    padding: 3vw;
    display: inline-flex;
    align-items: center;
}

.footerElement {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.footerLogo {
    width: 50px;
    height: 50px;
}

.footerContainer a {
    font-weight: normal;
    color: var(--gold);
    transition: color 0.4s;
    text-decoration: none;
}
  
.footerContainer a:hover {
    color: var(--white);
  }
  