/* ---- Collectibles ---- */

#banners img {
    margin: 3px;
    position: relative;
    margin-left: 7vw;
    height: 65px;
    width: 180px;
}

#banners .bigimage {
    height: 130px;
    width: 360px;
}
@media only screen and (min-width: 700px) {
    .banner {
        height: 50px;
        width: 120px;
    }
    #banners img {
        height: 50px;
        width: 120px;
    }
    #banners .bigimage {
        height: 110px;
        width: 300px;
    }
}
.bannerContainer {
    align-self: center;
    align-items: center;
    display: inline-flex;
}
.bannerName {
    min-width: 170px;
}

hr {
    border: none;
    border-top: 3px double var(--gold);
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

/*Banner Card Styles*/

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-inline: 1.5vw;
}

.card {
    background-color: #1f1f1f;
    padding: 3vh;
    border-radius: 15px;
    margin-block: 2vmax;
    transition: ease-out 0.3s all;
    color: var(--silver);
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.241);
}

.card-img {
    max-width: 20vmax;
}

.card-text {
    font-size: calc(0.3em + 2vmin);
    text-align: center;
    font-weight: bolder;
    color: inherit;
}

.card:hover {
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.775);
    transform: scale(1.15);
    transition: ease 0.3s all;
    color: var(--white);
    text-decoration: underline;
}

.eraLogo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.eraContainer {
    align-self: center;
    align-items: center;
    display: flex;
    margin-block-end: 20px;
}

.eraName {
    font-size: calc(1.1rem + 0.7vmax);
}

.titlesContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.titlesContainer li {
    width: 33%;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    .titlesContainer li {
        width: 100%;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
    .titlesContainer li {
        width: 50%;
        box-sizing: border-box;
    }
}
